
@import url('https://fonts.googleapis.com/css?family=Montserrat:bold,bolditalic|Inconsolata:italic|Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:bold,bolditalic|Inconsolata:italic|Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:bold,bolditalic|Inconsolata:italic|Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:bold,bolditalic|Inconsolata:italic|Droid+Sans');

body {
  margin: 0;
  padding: 0;
  font-family:'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-size: cover; */

  background-image:
  url("./data/Free-Download-Abstract-Backgrounds-HD.jpg");
  /* background-repeat: no-repeat; */
}

#pac-input {
  height: 30px;
  width: 60%;
  display: flex;
  margin-left: 30px;
  margin-right: 80px;
  margin-top: 10px;
  position: relative;
  border-radius: 4px;
}


ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
  position: relative;
  padding: 4px 4px;
  overflow-wrap: break-word;
  background-color: rgba(255, 255, 255, 0);
}
.ant-table-thead > tr > th {
  background-color: rgba(255, 255, 255, 0);

}
.ant-table-title {
  padding: 4px 16px;
  font-size:17px;
}

.ant-table {
  font-size:12px;
  line-height: 1;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;

}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.ant-table-header{
  background-color: rgba(255, 255, 255, 0);
}

.ant-table-body  {
  max-height: 400px;
}


.ant-table-thead th.ant-table-column-sort {
  background-color: rgba(255, 255, 255, 0);
}

.ant-table-cell .ant-table-cell-scrollbar{
  background-color:red
}

.ant-table-filter-column{

  background-color: rgba(255, 255, 255, 0);

}

.ant-table-thead th.ant-table-column-has-sorters:hover {
  background-color: rgba(255, 255, 255, 0);
}

.ant-table-filter-trigger {
color:black;
}

.ant-table-filter-trigger-container-open, .ant-table-filter-trigger-container:hover, .ant-table-thead th.ant-table-column-has-sorters:hover .ant-table-filter-trigger-container:hover{
  background-color: rgba(255, 255, 255, 0);
}

.ant-table-thead th.ant-table-column-has-sorters:hover .ant-table-filter-trigger-container {
  background-color: rgba(255, 255, 255, 0);
}

.ant-table-tbody > tr > td {
  border-bottom:0px solid white;
}

.ant-table-thead > tr > th {
  border-bottom:2px solid pink;
}
