
@import url('https://fonts.googleapis.com/css?family=BioRhyme:bold,bolditalic|Inconsolata:italic|Droid+Sans');
body {
  margin: 0;
  padding: 0;
  font-family:'BioRhyme';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}